<!DOCTYPE html>
<html lang="pl" dir="ltr" data-theme="forest">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ page.title | default: site.title }}{% if page.title %} - {{ site.title }}{% endif %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="/custom.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="android,recovery,custom,rom,twrp,orangefox,romming,xda,developers">
    <meta name="description" content="{{site.description}}">

    <!-- Open Graph -->
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:title" content="{{ page.title | default: site.title }}{% if page.title %} - {{ site.title }}{% endif %}">
    <meta property="og:url" content="https://spacequest.pl">
    <!-- OG end -->

    <!-- Twitter -->
    <meta property="twitter:description" content="Serwer Minecraft Survival 1.21.4+ - Dołącz już teraz!">
    <meta property="twitter:title" content="{{ page.title | default: site.title }}{% if page.title %} - {{ site.title }}{% endif %}">
    <meta property="twitter:url" content="https://spacequest.pl">
    <!-- Twitter end -->
    
    <link rel="icon" href="/assets/favicon.svg">

    <link rel="icon" type="image/x-icon" href="/assets/favicon.svg">
    <link rel="icon" type="image/png" href="/assets/favicon.svg">
    <link rel="apple-touch-icon" href="/assets/favicon.svg">

    <style>
        :root {
            --b1:  #00ff00 !important;
        }

        html {
            scroll-behavior: smooth;
        }
    </style>
</head>
<body>
    {% if page.title == "Home" %}
        <nav class="navbar fixed top-0 left-0 w-full z-10">
    {% else %}
        <nav class="navbar sticky top-0 z-10 bg-base-100">
    {% endif %}
        <div class="flex-1">
            <a href="/" class="flex items-center gap-2 btn btn-ghost rounded-full" role="button">
              <img src="/assets/favicon.svg" class="w-10 h-10 rounded-full">
            </a>
          </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            {% for item in site.data.navigation.main %}
                <li><a href="{{item.url}}">{{item.title}}</a></li>
            {% endfor %}
            <li><a href="https://github.com/{{site.github_username}}" target="_blank"><i class="bi bi-github"></i></a></li>
          </ul>
        </div>
    </nav>

    {{content}}
</body>
</html>